<!doctype html>
<html ng-app="chessApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="chess.js"></script>
    <script src="piece.js"></script>
    <script src="game-play.js"></script>
    <link rel="stylesheet" href="chess.css">
  </head>
  <body>
    <div ng-controller="ChessController as chess">
      <table width="400" height="400">
        <tr ng-repeat="squares in chess.squares">
          <td ng-repeat="square in squares" class="square {{ square.color }} {{ square.current }} {{ square.possibleMove }}" ng-click="chess.action(square)">{{ square.piece.html }}</td>
        </tr>
      </table>
      <p>Turn: {{ chess.turn.color }}</p>
      <button ng-click="chess.undo()" >&#9100; Undo</button>
    </div>
  </body>
</html>